body {
    background-color: rgb(255, 255, 255);
}

table,
td{
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

div.separateur{
    margin-top: 0.5cm;
}

h1 {
    color: rgb(14, 58, 8);
    background-color: rgb(240, 240, 240);
    border: 2px solid black;
    width: 24%;
}

h2 {
    color: rgb(14, 58, 8);
    background-color: rgba(255, 255, 255, 0.795);
    border: 1px solid black;
    width: 24%;
}


